<div class="ticket clearfix">
	<div class="ticket_content">
		<p class="ticket_name"><strong><%= ticket.participant %></strong></p>
		 <% if user_signed_in? %>
		<ul class="nav pull-right">
		<p><%= link_to 'Unattend', [ticket.event, ticket],
					method: :delete,
					class: "button",
						data: { confirm: 'Are you sure?' } %>
		</p>
		</ul>
		<% end %>
		<p class="ticket_body"><%= ticket.gender %></p>
		<p class="ticket_time"><%= time_ago_in_words(ticket.created_at) %> Ago</p>
		
	</div>

	<hr>
</div>